<!DOCTYPE html>
<html>
<head>
    <title>PMG Bill Tracker - API</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <h1>API Endpoints</h1>
    <ul class="list-unstyled">
        <li><a href="/bill/">bill/</a></li>
        <li><a href="/bill/1/">bill/1/</a></li>
    </ul>
    <hr>

    <h1>Admin interface</h1>
    <a href="/admin/">admin/</a>
    <hr>

    <h1>Data model</h1>
    <div style="width: 640px; height: 480px; margin: 10px; position: relative;"><iframe frameborder="0" style="width:640px; height:480px" src="https://www.lucidchart.com/documents/embeddedchart/47bb-d02c-525e2a4a-bc51-282e0a00c5b2"></iframe><a href="https://www.lucidchart.com/pages/examples/mind_mapping_software" style="margin: 0; padding: 0; border: none; display: inline-block; position: absolute; bottom: 5px; left: 5px;"><img alt="mind mapping software"title="Lucidchart online diagrams"style="width: 100px; height: 30px; margin: 0; padding: 0; border-image: none; border: none; display: block"src="https://www.lucidchart.com/img/diagrams-lucidchart.png"/></a></div>
</div>
</body>
</html>