<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PMG Bill Tracker Index{% endblock %}</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    {% block head %}
    {% endblock %}
</head>
<body>
<div class="banner">
        <a href="/"><img id="pmg-logo" src="/static/images/pmg_logo.png"></a>
    <div id="banner-hr"></div>
</div>
{% block page_header %}
{% endblock %}
<div id="page-container" class="container">
    {% block page %}
    {% endblock %}
</div>
{% block page_footer %}
    <div class="container" id="footer">
        <p><small>Copyright &copy; Parliamentary Monitoring Group, South Africa</small></p>
    </div>
{% endblock %}
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block javascript %}
{% endblock %}
</html>