{% extends "base.html" %}
{% block title %}Bills{% endblock %}
{% block page_header %}

{%  endblock %}

{% block page %}

    <div class="row" style="margin-top: 25px;">
        <div class="col-lg-2">
        </div>
        <a class="tile-anchor" href="/bills/current/all/">
            <div class="col-lg-4 tile">
                <h3>Current bills</h3>
                <p>See which bills are currently making their way through Parliament.</p>
                <a href="/bills/current/all/" class="btn btn-primary pull-right btn-sm" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span> View all
                </a>
            </div>
        </a>
        <a class="tile-anchor" href="/bills/all/">
            <div class="col-lg-4 tile">
                <h3>All Bills</h3>
                <p>Find bills from our archive.</p>
                <a href="/bills/all/" class="btn btn-primary pull-right btn-sm" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span> View all
                </a>
            </div>
        </a>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <a class="tile-anchor" href="/bills/pmb/all/">
            <div class="col-lg-4 tile">
                <h3>Private Member Bills</h3>
                <p>Bills introduced by individual Members of Parliament.</p>
                <a href="/bills/pmb/all/" class="btn btn-primary pull-right btn-sm" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span> View all
                </a>
            </div>
        </a>
        <a class="tile-anchor" href="/bills/explained/">
            <div class="col-lg-4 tile">
                <h3>Bills Explained</h3>
                <p>Find out more about the legislative process.</p>
                <a href="/bills/explained/" class="btn btn-primary pull-right btn-sm" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span> Read more
                </a>
            </div>
        </a>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <a class="tile-anchor" href="/bills/draft/all/">
            <div class="col-lg-4 tile">
                <h3>Draft Bills</h3>
                <p>See which bills are waiting to be introduced.</p>
                <a href="/bills/draft/all/" class="btn btn-primary pull-right btn-sm" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span> View all
                </a>
            </div>
        </a>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-2">
        </div>
    </div>

{% endblock page %}

{% block javascript %}
    <script type="text/javascript">
        $(function(){

        })
    </script>
{% endblock %}