{% extends "base.html" %}
{% from 'macros.html' import render_entries %}
{% block title %}{{ bill.name }}{% endblock %}

{% block page_header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ bill.name }}</h1>

            {% if bill.latest_version -%}
                <div class="pull-right">
                    Latest version:
                    <a class="btn btn-sm btn-primary" role="button" target="_blank" href="/{{ bill.latest_version.url }}">
                        <i class="fa fa-file-text"></i> {{ bill.latest_version.title }}
                    </a><br>
                </div>
            {%- endif %}

            {% if bill.bill_type -%}
                <p>{{ bill.bill_type }}</p>
            {%- endif %}

            {% if bill.introduced_by -%}
                <p>Introduced by: {{ bill.introduced_by }}</p>
            {%- endif %}

            {% if bill.objective -%}
                <p class="lead">{{ bill.objective }}</p>
            {%- endif %}


            {% if bill.green_paper %}
                <a class="btn btn-sm btn-default pull-right bill-link" role="button" target="_blank" href="/{{ bill.green_paper }}">
                    <i class="fa fa-file-text"></i> Green Paper
                </a>
            {% endif %}
            {% if bill.white_paper %}
                <a class="btn btn-sm btn-default pull-right bill-link" role="button" target="_blank" href="/{{ bill.white_paper }}">
                    <i class="fa fa-file-text"></i> White Paper
                </a>
            {% endif %}
            {% if bill.draft %}
                <a class="btn btn-sm btn-default pull-right bill-link" role="button" target="_blank" href="/{{ bill.draft }}">
                    <i class="fa fa-file-text"></i> Draft
                </a>
            {% endif %}
            {% if bill.gazette %}
                <a class="btn btn-sm btn-default pull-right bill-link" role="button" target="_blank" href="/{{ bill.gazette }}">
                    <i class="fa fa-file-text"></i> Gazette
                </a>
            {% endif %}

            {% if bill.status -%}
                <p class="label label-info bill-status">Status: {{ bill.status }}</p>
            {%- endif %}
        </div>
    </div>

    <div id="process-img-container" class="container">
        <img id="process-img" src="/static/images/Parliament-Workflow-75.png" alt="Graph of parliamentary workflow"/>
    </div>
{%  endblock %}

{% block page %}

    {% if bill.entries %}
        {% set prev_location = bill.entries[0].stage.location.location_id %}
        <h2>Bill history</h2>
        <hr>
        {{ render_entries(bill.entries) }}
    {% else %}
        <p class="lead text-muted">There are no events to display.</p>
    {% endif %}

{% endblock page %}