{% extends "base.html" %}
{% from 'macros.html' import render_stage %}
{% block title %}{{ bill.name }}{% endblock %}

{% block page_header %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ bill.name }}</h1>

            <p>{{ bill.bill_type }}</p>
            <p class="lead">{{ bill.objective }}</p>
            {% if bill.latest_version %}
                <div class="pull-right">
                    Latest version: <a href="/{{ bill.latest_version.url }}">
                    <i class="fa fa-file-text"></i> {{ bill.latest_version.title }}
                </a><br>
                </div>
            {% endif %}
            <p class="label label-info bill-status">Status: {{ bill.status }}</p>
        </div>
    </div>

    <div id="process-img-container" class="container">
        <img id="process-img" src="/static/images/Parliament-Workflow-75.png" alt="Graph of parliamentary workflow"/>
    </div>
{%  endblock %}

{% block page %}

    {% if stages %}
        {% set prev_location = stages[0][0].stage.location.location_id %}
        <h2>Bill history</h2>
        <hr>

        {% for stage in stages %}
            {% if loop.first or stage[0].stage.location.location_id != prev_location %}
                {% if not loop.first %}
                    </div>
                {% endif %}
                <!-- Location container -->
                <div class="container location location-{{ stage[0].stage.location.location_id }}">
                <div class="location-title location-{{ stage[0].stage.location.location_id }}">{{ stage[0].stage.location.name }}</div>
                {% set prev_location = stage[0].stage.location.location_id %}
            {% else %}
                {% if not loop.first %}
                    <hr>
                {% endif %}
            {% endif %}

            {{ render_stage(stage) }}
        {% endfor %}

    {% else %}
        <p class="lead text-muted">There are no events to display.</p>
    {% endif %}

{% endblock page %}