{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
    $(function(){
        $(".bill-index-tile").on('click', function(){
            window.location = "/bill/" + $(this).attr('data-bill-id')
        })
    })
    </script>
{% endblock %}

{% block page %}
    <h1>Available bills</h1>
    <hr>
    {% for bill in bills %}
        <div class="bill-index-tile" data-bill-id="{{ bill.bill_id }}">
            <h2>{{ bill.name }}</h2>
            <p class="label label-info bill-status">{{ bill.status }}</p>
            <p>{{ bill.bill_type }}</p>
            <p><em>{{ bill.objective }}</em></p>
            <a href="/bill/{{ bill.bill_id }}/"><span class="glyphicon glyphicon-chevron-right"></span> more info</a>
            <hr>
        </div>
    {% endfor %}
{% endblock page %}