{% extends "base.html" %}

{% block page %}
    <h1>Available bills</h1>
    <hr>
    <div class="search-box-container pull-right">
        <input id="search-box" type="text" data-source="{{ api_host }}/bill/">
    </div>
    <div class="btn-group">
        {% for i in ['2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006'] %}
            <a href="/{{ i }}/" role="button" class="btn btn-default{% if year == i %} active{% endif %}">{{ i }}</a>
        {% endfor %}
    </div>
    <hr>
    {% for bill in bills %}
        <div class="bill-index-tile" data-bill-id="{{ bill.bill_id }}">
            <h3>{{ bill.name }} <span class="pull-right"><small>({{ bill.code }} {{ bill.year }})</small></span></h3>
            {% if bill.introduced_by -%}
                <p>Introduced by: {{ bill.introduced_by }}</p>
            {%- endif %}
            {% if bill.type -%}
                <p>{{ bill.bill_type }}</p>
            {%- endif %}
            {% if bill.objective -%}
                <p><em>{{ bill.objective }}</em></p>
            {%- endif %}
            <a href="/bill/{{ bill.bill_id }}/"><span class="glyphicon glyphicon-chevron-right"></span> more info</a>
            <hr>
        </div>
    {% endfor %}
{% endblock page %}

{% block javascript %}
    <script src="/static/bootstrap/js/typeahead.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".bill-index-tile").on('click', function(){
                window.location = "/bill/" + $(this).attr('data-bill-id')
            })

            var options = {
                'source': ["one", "two", "three"],
                'updater': function(item){console.log(item)}

            }
            $("#search-box").typeahead(options)
        })
    </script>
{% endblock %}