{% macro render_event(event) -%}
    <div class="row">
        <div class="col-md-12 event">
            <p class="pull-right">{{ event.date }}</p>
            <div class="icon-placeholder pull-left"></div>
            <p class="stage-title text-muted">Stage: {{ event.stage.name }}</p>
            {% if event.new_status %}
                <p>{{ event.new_status }}</p>
            {% endif %}

            <p>{{ event.agent.name }}</p>

            {% if event.content %}
                {{ render_content(event.content) }}
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro render_content(content_dict) -%}

    {% for type, items in content_dict.iteritems() %}
        {{ render_content_item(type, items) }}
    {% endfor %}
{%- endmacro %}

{% macro render_content_item(type, items) -%}
    {% for item in items %}
    <p class="content-item">
        <a href="{{ item.url }}">
            {% if type in ["revision", ] -%}
                <i class="fa fa-file-text fa-lg"></i>
            {% elif type in ["whitepaper", "greenpaper", "draft-bill"] -%}
                <i class="fa fa-file-o fa-lg"></i>
            {% else -%}
                {{ type }} -
            {%- endif %}
            {{ item.title }}
        </a>
    </p>
    {% endfor %}
{%- endmacro %}

