{% macro render_entries(entries) -%}

    {% set current_location = None %}
    {% set current_stage = None %}

    {% for entry in entries %}
        {# Location Container #}
        {% if entry.location and (entry.location != current_location) %}
            {% if current_stage %}
                {# close the open stage container #}
                </div>
            {% endif %}
            {{ start_location(entry.location, current_location) }}
            {% set current_location = entry.location %}
            {% set current_stage = None %}
        {% elif not entry.location and current_location %}
            </div>
            {% set current_location = None %}
        {% endif %}

        {# Stage Container #}
        {% if entry.stage and (entry.stage != current_stage) %}
            {{ start_stage(entry.stage, current_location, current_stage) }}
            {% set current_stage = entry.stage %}
        {% elif not entry.stage and current_stage %}
            </div>
            {% set current_stage = None %}
        {% endif %}

        {{ render_entry(entry) }}
    {%  endfor %}

    {% if current_stage %}
        {# close last stage div #}
        </div>
    {% endif %}

    {% if current_location %}
        {# close last location div #}
        </div>
    {% endif %}

{%- endmacro %}

{% macro render_agent(agent) -%}
    <p>
        {% if agent.type in ["minister", "president", "mp"] -%}
            <i class="fa fa-user"></i>
        {% elif agent.type == "house" -%}
            <i class="fa fa-gavel"></i>
        {% else -%}
            <i class="fa fa-group"></i>
        {%- endif %}
        {% if agent.name -%}
            {{ agent.name }}
        {% else -%}
            {{ agent.type }}
        {%- endif %}
    </p>
{%- endmacro %}


{% macro start_location(location, current_location) -%}
    {% set location_list = ["National Assembly (NA)", "National Council of Provinces (NCOP)", "Under joint consideration, NA + NCOP", "Office of the President"] %}
    {% if current_location %}
        </div>
    {% endif %}
    <div class="location location-{{ location }}">
    <div class="location-title location-{{ location }}">
        {{ location_list[location-1] }}
    </div>
{%- endmacro %}

{% macro start_stage(stage, current_location, current_stage) -%}
    {% set
        stage_list = [[
            ("Introduced to Parliament", "Bill-Introduced.png"),
            ("Before Portfolio Committee", "Committee-Discussion.png"),
            ("Awaiting approval by National Assembly", "House.png"),
            ("Before Mediation Committee", "Committee-Discussion.png")
            ],
            [
            ("Tabled in NCOP", "Bill-Introduced.png"),
            ("Before Select Committee", "Committee-Discussion.png"),
            ("Awaiting approval by NCOP", "House.png"),
            ],
            [
            ("Awaiting the President's signature", "Signed-by-President.png"),
            ]]
            %}
    {% set name, icon = stage_list[current_location-1][stage-1] %}
    {% if current_stage %}
        </div><hr>
    {% endif %}
    <div class="stage">
    <div class="icon-placeholder pull-left">
        <img class="stage-icon" src="/static/icons/{{ icon }}"/>
    </div>
    <p class="text-muted"><span class="stage-title">Stage: {{ name }}</span></p>
{%- endmacro %}

{% macro render_entry(entry) -%}
    <div class="bill-history-entry{% if entry.type == "public-hearing-report" %} public-hearing{% endif %}">
        <p class="entry-date text-muted pull-left">{{ entry.date }}</p>
        {% if entry.type in ["version", "act"] -%}
            <p class="bill-version">
                New version introduced.
                <a class="btn btn-primary btn-sm pull-right" role="button" target="_blank" href="{{ entry.url }}">
                    <i class="fa fa-file-text"></i> {{ entry.title }}
                </a>
            </p>
        {%- else %}
            <p class="entry">
                {% if entry.type == "public-hearing-report" %}
                    <a href="{{ entry.url }}" target="_blank">
                        <span class="label label-success pull-right" style="margin-right: 25px;">Public participation</span>
                    </a>
                    <strong>
                {% endif %}
                <a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a>
                {% if entry.type == "public-hearing-report" %}
                    </strong>
                {% endif %}
                {% if entry.description %}
                    <br>{{ entry.description }}
                {% endif %}
            </p>
        {%- endif %}
    </div>
{%- endmacro %}