{% macro render_stage(stage) -%}
    <div class="row">
        <div class="col-md-12 stage">
            <div class="icon-placeholder pull-left">
                {% set
            icon_dict = {
                1: "Bill-Introduced.png",
                2: "Committee-Discussion.png",
                3: "Public-Participation.png",
                4: "1st-House.png",
                5: "Bill-Introduced.png",
                6: "Committee-Discussion.png",
                7: "Public-Participation.png",
                8: "2nd-House.png",
                9: "Committee-Discussion.png",
                10: "Signed-by-President.png",
            }
                        %}
                <img class="stage-icon" src="/static/icons/{{ icon_dict[stage[0].stage.stage_id] }}"/>
            </div>
            <p class="text-muted"><span class="stage-title">Stage: {{ stage[0].stage.name }}</span></p>

            {{ render_agent(stage[0].agent) }}

            {% for event in stage %}
                <div class="row">
                    <div class="col-md-8">
                        {% if event.content %}
                            {{ render_content(event.content) }}
                        {%- endif %}
                    </div>
{#                    <div class="col-md-4"></div>#}
                    <div class="col-md-4"><p class="text-muted pull-right">{{ event.date }}</p></div>

                </div>
                {% if event.notes %}<p>{{ event.notes }}</p>{% endif %}

            {% endfor %}

    </div>
    </div>
{%- endmacro %}

{% macro render_agent(agent) -%}
    <p>
        {% if agent.type in ["minister", "president", "mp"] -%}
            <i class="fa fa-user"></i>
        {% elif agent.type == "house" -%}
            <i class="fa fa-gavel"></i>
        {% else -%}
            <i class="fa fa-group"></i>
        {%- endif %}
        {% if agent.name -%}
            {{ agent.name }}
        {% else -%}
            {{ agent.type }}
        {%- endif %}
    </p>
{%- endmacro %}

{% macro render_content(content_dict) -%}
    {% for type, items in content_dict.iteritems() %}
        {{ render_content_item(type, items) }}
    {% endfor %}
{%- endmacro %}

{% macro render_content_item(type, items) -%}
    {% for item in items %}
        <p class="content-item">
            {% if "http://" in item.url %}
                <a href="{{ item.url }}" target="_blank">
                    <i class="fa fa-chevron-right fa-lg"></i> {{ item.title }}
                </a>
            {% else %}
                <a href="/{{ item.url }}">
                    <i class="fa fa-file-o fa-lg"></i> {{ item.title }}
                </a>
            {% endif %}
        </p>
    {% endfor %}
{%- endmacro %}

{#{% macro render_bill_versions(version_list) -%}#}
{#    {% for version in version_list %}#}
{#        {{ render_bill_version(version) }}#}
{#    {% endfor %}#}
{#{%- endmacro %}#}