{% extends 'admin/model/list.html' %}

{% macro render_entries(model, column) %}
  <a href="/admin/entry/?bill_id={{ model.bill_id }}">
    related entries
  </a>
{% endmacro %}

{% macro render_related_docs(model, column) %}
  <a href="/admin/related-docs/?bill_id={{ model.bill_id }}">
    related documents
  </a>
{% endmacro %}

{% macro render_code(model, column) %}
  <nobr>{{ model[column] }}</nobr>
{% endmacro %}

{% macro render_url(model, column) %}
  {% if model[column] %}
    <a href="{{ model[column] }}" target="_blank">{{ model[column] }}</a>
  {% endif %}
{% endmacro %}

{% macro render_location(model, column) %}
  {% set locations = {
    "1": "NA",
    "2": "NCOP",
    "3": "President's Office",
    "4": "NA+NCOP"} %}
  {% if locations.get(model[column]|string) %}
    {{ locations[model[column]|string]}}
  {% else %}
    Unknown
  {% endif %}
{% endmacro %}

{% macro render_date(model, column) %}
  <nobr>{{ model[column]|string|truncate(10, true, "") }}</nobr>
{% endmacro %}

{% macro render_bills(model, column) %}
  {% for bill in model[column] %}
    <span class="label label-success label-tooltip" data-toggle="tooltip" title="{{ bill.name }}">{{ bill.code }}</span>
  {% endfor %}
{% endmacro %}

{% block body %}
  {% if filtered_bill %}
    <h3>{{ filtered_bill.code }} - {{ filtered_bill.name }}</h3>
  {% endif %}

    {% block model_menu_bar %}
      {{ super() }}
    {% endblock %}

    {% if filter_groups %}
      {{ model_layout.filter_form() }}
      <div class="clearfix"></div>
    {% endif %}

    {% block model_list_table %}
      <table class="table table-striped table-bordered model-list">
        <thead>
        <tr>
          {% block list_header scoped %}
            {% if actions %}
              <th class="span1">
                <input type="checkbox" name="rowtoggle" class="action-rowtoggle" />
              </th>
            {% endif %}
            {% block list_row_actions_header %}
              <th class="span1">&nbsp;</th>
            {% endblock %}
            {% set column = 0 %}
            {% for c, name in list_columns %}
              <th>
                {% if admin_view.is_sortable(c) %}
                  {% if sort_column == column %}
                    <a href="{{ sort_url(column, True) }}{% if filtered_bill %}&bill_id={{ filtered_bill.bill_id }}{% endif %}">
                      {{ name }}
                      {% if sort_desc %}
                        <i class="icon-chevron-up"></i>
                      {% else %}
                        <i class="icon-chevron-down"></i>
                      {% endif %}
                    </a>
                  {% else %}
                    <a href="{{ sort_url(column) }}{% if filtered_bill %}&bill_id={{ filtered_bill.bill_id }}{% endif %}">{{ name }}</a>
                  {% endif %}
                {% else %}
                  {{ name }}
                {% endif %}
                {% if admin_view.column_descriptions.get(c) %}
                  <a class="icon-question-sign"
                     title="{{ admin_view.column_descriptions[c] }}"
                     href="javascript:void(0)" data-role="tooltip"
                      ></a>
                {% endif %}
              </th>
              {% set column = column + 1 %}
            {% endfor %}
          {% endblock %}
        </tr>
        </thead>
        {% for row in data %}
          <tr>
            {% block list_row scoped %}
              {{ super() }}
            {% endblock %}
          </tr>
        {% else %}
          <tr>
            <td colspan="999">
              {% block empty_list_message %}
                {{ super() }}
              {% endblock %}
            </td>
          </tr>
        {% endfor %}
      </table>
      {{ lib.pager(page, num_pages, pager_url) }}
    {% endblock %}

    {{ actionlib.form(actions, url_for('.action_view')) }}

{% endblock %}
