{% extends 'admin/model/list.html' %}

{% macro render_entries(model, column) %}
    <a href="/admin/entry/?">
        related entries
    </a>
{% endmacro %}

{% macro render_code(model, column) %}
    <nobr>{{ model[column] }}</nobr>
{% endmacro %}

{% macro render_url(model, column) %}
    {% if model[column] %}
        <a href="{{ model[column] }}" target="_blank">{{ model[column] }}</a>
    {% endif %}
{% endmacro %}

{% macro render_location(model, column) %}
    {% set locations = {
    "1": "NA",
    "2": "NCOP",
    "3": "NA+NCOP",
    "4": "President's Office"} %}
    {% if locations.get(model[column]|string) %}
        {{ locations[model[column]|string]}}
    {% else %}
        Unknown
    {% endif %}
{% endmacro %}

{% macro render_date(model, column) %}
    <nobr>{{ model[column]|string|truncate(10, true, "") }}</nobr>
{% endmacro %}

{% macro render_bills(model, column) %}
    {% for bill in model[column] %}
    <span class="label label-success label-tooltip" data-toggle="tooltip" title="{{ bill.name }}">{{ bill.code }}</span>
    {% endfor %}
{% endmacro %}

