{% extends 'admin/base.html' %}
{% block head_css %}
    {{ super() }}
    <style>
{#    html{#}
{#        height: 100%;#}
{#    }#}
{##}
{#    body{#}
{#        background: url("/static/images/patterns/wavegrid.png");#}
{#        padding-top: 0;#}
{#        height: 100%;#}
{#    }#}
{##}
{#    body .container:first-child{#}
{#        background-color: #ffffff;#}
{#        padding-right: 2px;#}
{#        padding-left: 2px;#}
{#        border: solid 1px #cccccc;#}
{#        height: 100%;#}
{#    }#}
    </style>
{% endblock head_css%}