/*blue: 16, 116, 188*/
/*red: 190, 31, 46*/
/*green: 162, 192, 58*/
/*orange: 247, 147, 29*/

#pmg-logo{
    margin-left: 130px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#banner-hr{
    height: 26px;
    width: 100%;
    background-color: #0178d8;
}

#page-container{
    min-height: 500px;
}

.bill-index-tile{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.bill-index-tile p{
    margin-bottom: 0;
}

.bill-index-tile:hover{
    background-color: #eeeeee;
}

.bill-detail-header h1 {
    font-size: 45px;
}

.bill-detail-header{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: #eee;
}



.bill-status{
    margin-bottom: 10px;
}

.location{
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
}

.location.location-1{
    border-color: cornflowerblue;
}

.location.location-2{
    border-color: lightgreen;
}

.location.location-3{
    border-color: lightgray;
}

.location.location-4{
    border-color: greenyellow;
}

.location-title{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -2px;
    padding-top: 2px;
    padding-left: 17px;
    margin-bottom: 10px;
    line-height: 2em;
    text-transform:uppercase;
    font-weight: bold;
}

.location-title.location-1{
    background-color: cornflowerblue;
}

.location-title.location-2{
    background-color: lightgreen;
}

.location-title.location-3{
    background-color: lightgray;
}

.location-title.location-4{
    background-color: greenyellow;
}

.stage-title{
    text-transform:uppercase;
    font-weight: bold;
}

.stage{
    position: relative;
    padding-left: 95px;
    min-height: 85px;
}

.icon-placeholder{
    position: absolute;
    left: 0;
    width: 75px;
    height: 75px;
    margin: 10px;
    margin-top: 5px;
    background-color: lightgrey;
    border-radius: 5px;
}

.stage-icon{
    width: 55px;
    margin: 10px;
}

.version{
    margin-bottom: 10px;
}

#status-container{
    min-height: 55px;
    width: 100%;
    background-color: #e5e5e5;
}

#status-container .pending{
color: #999999;
}

.bill-history-entry p{
    margin-bottom:0;
    padding-top: 2px;
    padding-bottom: 3px;
}

.bill-version{
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 10px!important;
}

.bill-link{
    margin-left: 5px;
}

.entry-date{
    min-width: 140px;
}

.tile:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

#status-text{
    margin-top: 15px;
}

#footer{
    width: 100%;
    height: 50px;
    background-color: #eee;
    padding-top: 15px;
    margin-top: 10px;
}